<% form_for(@clip) do |form| %>
  <%= form.hidden_field :content_type %>
  <%= form.hidden_field :parent_id %>
  <%= form.hidden_field :location %>
  <li>
    <label>Body</label>
    <%= form.text_area :body %>
  </li>
  <li class="actions">
    <%= form.submit 'Crear' %><%= link_to 'Cancelar', clips_path %>
  </li>
<% end %>